<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Ghar pe,Ghar se</title>
</head>

<body>

    <!-- navbar -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Ghar Pe,Ghar Se</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/customerhome/">Browse Hotels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/custorderdetails/">View Order
                                Details</a>
                    </li>


                </ul>

            </div>
        </div>
    </nav>

    <main my-4>

        {%if displayerror%}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Service Unavailable</strong>May be the local resturants have not kept their identity on the Web or may be the search query is taking longer time :(, kindly try again later or try the name of the city
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {%endif%} {%if paymentdone%}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong> Order Placed </strong>Try browsing some more resturants across your location
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {%endif%}
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Enter your City/Location name</h1>
                    <p class="lead text-muted my-4">Enter the name of your city or location,and hit enter,the top resturants nearby your places will be recommended.</p>
                    <form action="/customerhome/" method="POST">
                        {%csrf_token%}
                        <div class="mb-3">
                            <input name="location" type="text" class="form-control" id="hotel">
                        </div>
                        <button type="submit" class="btn btn-primary">Recommend</button>
                    </form>

                </div>
            </div>
        </section>

        {%if displayhotels%}
        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    <!--Cards-->

                    {%for course in detailslist%}

                    <div class="col">
                        <div class="card mb04 box-shadow-sm">

                            <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src={{course.4 |safe}}data-holder-rendered="true">



                            <div class="card-body">
                                <p class="text-center">Name : {{course.0}}</p>
                                <p class="card-text">Address : {{course.3 |slice:50}}..</p>
                                <p class="card-text">Rating : {{course.2}}</p>
                                <p class="card-text">Contact : {{course.1}}</p>


                            </div>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group container">

                                    <a class="btn btn-primary" href={{course.5|safe}} target="_blank" role="button">View Hotel</a>
                                    <a class="btn btn-primary" href="/orderfood/" target="_blank" role="button">Order Food</a>

                                </div>

                            </div>
                        </div>
                    </div>

                    {%endfor%}




                </div>
            </div>
        </div>

        {%else%}

        <section class="text-center container">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <div class="alert alert-success" role="alert">
                        <p>Enter the name of the City or your location in the input box and click on Recommend,the list of resturants will be displayed one can view,order food and also check out the details about the resturant</p>
                        <hr>
                    </div>


                </div>
            </div>
        </section>

        {%endif%}

    </main>






    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>