<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Ghar pe Ghar se</title>
  </head>
  <body>
     <div class="container my-4">


        <main>

            <!--Rules-->
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading text-center">Rules for Sigining Up</h4>
                <ul class="my-4">
                    <li>Make sure you give your complete name of the resturant under the full name category</li>
                    <li>Make sure your username has the word <span style="color:red">_RES</span> at the end,this ensures that you have signed up as a resturant</li>

                    <li>The most important is the password,make sure your password contains one or more special characters,must have combination of alphanumeric characters,must have a <span style="color:red"> minimum of 4 numbers</span> and <span style="color:red">minimum of 4
                                Alphabets (Uppercase + Lowercase)</span> making a total of minimum <span style="color:red"> 9 characters</span>
                    </li>
                </ul>
                <hr>
                <p class="mb-0">Example : <span style="color:red;">#Xyz1234_RES</span>,as we can observe there is one special character "#",one uppercase letter "X",followed by few lowercase letters,and then numbers,at the end the specific term "_INC" which indicates that you have signed up as a resturant>.
                </p>
            </div>

            <!--End Rules-->

            {%if userexists%}

              <!--Alert-->

                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>User Already Exists</strong> There was an error while filling the details,seems like an user already exists with the username or password,try someother configuration of characters :)
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>


            {%endif%}


            {%if error %}

                    <!--Alert-->

                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Sign Up Error</strong> There was an error while filling the details,please fill the details according to the instructions mentioned above
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            
            {%endif%}

            <!-- main form -->
            <div class="py-5 text-center">
                <h2>Sign Up as Resturant</h2>
                <p class="lead">Sign up as a Resturant,track all delivery orders,food items and many more</p>
            </div>
        </main>

        <div class="row">
            <div class="md-4 text-center">
                <div class="col-md-6 offset-md-3">
                    <form action="/resturantsignup/" method="POST" novalidate>

                        {%csrf_token%}
                        <div class="row g-3 align-items-center text-center mx-2">
                            <div class="col-12">
                                <label for="name" class="form-label">Resturant Name</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="" value="" required="">
                                <div class="invalid-feedback">
                                    Valid Full Name is required.
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="username" class="form-label">Username</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text">@</span>
                                    <input type="text" class="form-control" id="username" placeholder="Username" name="username" required="">
                                    <div class="invalid-feedback">
                                        Your username is required.
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="password" class="form-label">Create Your Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                                <div class="invalid-feedback">
                                    Please enter a valid password.
                                </div>
                            </div>

                            <div class="my-4">
                                <button class="w-100 btn btn-primary btn-lg" type="submit">Create Account</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>