<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Ghar pe,Ghar se</title>
</head>

<body>

    <!-- navbar -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/resturanthome/">Ghar Pe,Ghar Se</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/resturanthome/">Resturant Content</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/viewitems/">View Items</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/custorderdetails/">View Order
                Details from Customers</a>
                    </li>


                </ul>

            </div>
        </div>
    </nav>



    {%if displayerror%}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Service Unavailable</strong>May be the local resturants have not kept their identity on the Web or may be the search query is taking longer time :(, kindly try again later or try the name of the city
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {%endif%} {%if paymentdone%}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong> Order Placed </strong>Try browsing some more resturants across your location
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {%endif%}
    
    <div class = "container">
        <main my-4>
            <div class="text-center my-4">

                <h2>Add Food Items</h2>
                <p class="lead">Currently Available Food Items</p>
            </div>

            <div class="my-4">
                <table class="table my-4 table-info">

                    <thead>
                        <tr>
                            <th scope="col">SNo</th>
                            <th scope="col">Hotel Name</th>
                            <th scope="col">Dish Name</th>
                            <th scope="col">Type of Dish Quantity</th>
                            <th scope="col">Price per packet/box/kg</th>
                            
                        </tr>
                    </thead>

                    <tbody>

                        {% for todo in allTodo %}
                        <!-- the reason why i am using loop.index is coz suppose i deleted the 7th record from the database,so while viewing the record the end user will see after 6 there's 8,where's 7?,so instead of using the SNO of the database,we have to use the loop index as shown ↓ -->
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{todo.hotelname}}</td>
                            <td>{{todo.dishname}}</td>
                            <td>{{todo.qty}}</td>
                            <td>{{todo.price}}</td>
                            


                        </tr>

                        {% endfor %}

                    </tbody>
                </table>

                <div class="col-md-12 text-center my-4 mx-2">

                    <a href="/resturanthome/" class="my-4">
                        <button class="btn btn-primary btn-sm" type="submit">Go Back</button>
                    </a>
                </div>
            </div>

            

        </main>
    </div>










    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>